<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Post entry:</strong>
  <%= @post.post_entry %>
</p>

<p>
  <strong>Score:</strong>
  <%= @post.score %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<%= link_to '+', up_vote_path(id: comment.id) %>
<%= link_to '-', down_vote_path(id: comment.id) %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
